# Ignore Mac system files
.DS_store

# Ignore node_modules folder
node_modules

# Ignore all text files
*.txt

# Ignore files related to API keys
.env

# Ignore SASS config files
.sass-cache

# Ignore all files in the public folder
public

# Ignore all files in the dist folder
dist

# Ignore all files in the build folder
build

# Ignore all files in the .cache folder
.cache

# Ignore all files in the _opdrachten folder
_opdrachten